{% extends "bootstrap_responsive.html" %}
{% block body_content %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">PyGithub</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
      <div class="btn-toolbar">
      <div class="btn-group">
          <a class="btn" href="/">&laquo;</a>
        <a class="btn" href="/{{dirname}}">
            {{dirname}}
        </a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            {{commit.name_rev}}
        <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            {% for i in heads: %}
            <li><a href="/{{dirname}}/{{i}}">{{i}}</a></li>
            {% endfor %}
          </ul>
      </div>
      </div>

      <p>
        <h3>Author: {{commit.author}}</h3>
        <h3><span data-livestamp="{{commit.authored_date}}"></span></h3>
        <h3>Message: {{commit.message}}</h3>
        {% if commit.tree:%}
        <ul class="nav nav-tabs nav-stacked">
            {% for i in commit.tree: %}
            <li>
                {% if i.type == 'tree': %}
                    <i class="icon-folder-open"></i>
                {{i.name}}
                {% else: %}
                <i class="icon-file"></i>
                {{i.name}}
                <pre><code>{{i.data_stream.read()}}</code></pre>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if diffs:%}
        <h3>Diff to parent(s):</h3>
        <ul class="nav nav-tabs nav-stacked">
        {% for di in diffs: %}
        {% for d in di %}
        <li><b>{{d}}</b> 
        </li>
        {% endfor %}
        </ul>
        </li>
        {% endfor %}
        </ul>
        {% endif %}
      </p>
    </div>
    </div>
{% endblock %}
{% block bootstrap_js_bottom %}
  {{super()}}
  <script src="/static/moment.min.js"></script>
  <script src="/static/livestamp.min.js"></script>
{% endblock %}
