{% extends "bootstrap_responsive.html" %}

{% block body_content %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">PyGithub</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
      <div class="btn-group">
        <a class="btn" href="{{"/"}}">&laquo;</a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        {{dirname}}/{{branch}}
        <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            {% for i in heads: %}
            <li><a href="/{{dirname}}/{{i}}">{{i}}</a></li>
            {% endfor %}
          </ul>
      </div>
      <p></p>
        <div class="alert alert-info">
            <b>To use this repo:</b> <code>git remote add origin {{repoUrl}}</code>
        </div>
        <p>
            <h2>Commits:</h2>
            <ul class="nav nav-tabs nav-stacked">
            {% for i in commits: %}
            <li><a href="/{{dirname}}/commit/{{i.hexsha}}"><span data-livestamp="{{i.committed_date}}"></span><span>, {{i.committer}} commited: <em>"{{i.message}}"</em></span><span class="pull-right text-right"><code>{{i.hexsha[:10]}}</code></span></a></li>
            {% endfor %}
            </ul>
        </p>
      </div>

    </div>
{% endblock %}

{% block bootstrap_js_bottom %}
  {{super()}}
  <script src="/static/moment.min.js"></script>
  <script src="/static/livestamp.min.js"></script>
{% endblock %}
